* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100%;
	font-family: calibri;
}
#pageContent {
	min-height: 100vh;	
}
#hdr{
    background-color: goldenrod;
    color: white;
    text-align: center;
    font-size: 20px;
    height: 150px;
    background-image: url("./img/pokemongo.jpg");
    background-position: center;
    background-size: cover;
}
#navbar{
	position: sticky;
	top: 0px;
	z-index: 1000;	
	display: grid;
	grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
	background-color: goldenrod;
    padding: 0px 30px;
}
#navbar li{
    list-style: none;
    padding: 15px 20px;
}
#navbar li a{
    text-decoration: none;
    color: black;
}
#navbar li a:hover{
    font-weight: 600;
}
#navbar ul li a{
	text-decoration: none;
	color: #424949;
	font-size: 18px;	
}
.openMenu{
	font-weight: 600;
}
#content{
    padding: 20px;
}
.boxWhite{
    height: 100%;
    background: white;
}
.boxWhite h2{
    text-align: center;
}
.container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-gap: 20px 5px;
}
.bgCircle{
    border-radius: 20%;
    /* width: 110px;
    height: 150px; */
    background-color: #fffec7;
    color: goldenrod;
    padding: 10px 10px;
    margin: auto;
    border: none;
}
.circle{
    border-radius: 50%;
    border: 1px solid goldenrod;
    width: 100px;
    height: 100px;
}
.ctr{
    text-align: center;
    margin-top: 5px;
}
#ftr{
    background-color: goldenrod;
    color: white;
    text-align: center;
    font-size: 11px;
    padding: 8px;
    margin-top: 20px;
}
#detailContainer{
    padding: 30px;
    align-items: center;
}
.detailCircle{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 1px solid goldenrod;
    margin-bottom: 10px;
}
.catchBtn{
    padding: 10px 18px;
    border-radius: 20%;
    margin-top: 10px;
    margin-bottom: 20px;
    background: goldenrod;
    font-size: 15px;
    font-weight: 600;
}
.backBtn{
    padding: 5px 8px;
    border-radius: 20%;
    margin-bottom: 20px;
    font-size: 9px;
}
.detailName{
    text-align: center;
    margin-bottom: 15px;
}
.charDetail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 25px;
    padding: 10px;
    background: #fffec7;
    text-align: center;
}
.dataDetail{
    text-align: center;
    margin: 15px 25px;
    padding: 10px;
    background: #fffec7;
}
.gridDetail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin-top: 5px;
}
.gridDetail li{
    border: 1px solid goldenrod;
    padding: 2px;
    border-radius: 10%;
}

.modal {
    font-size: 12px;
    background-color: #fffec7;
    padding: 5px 15px;
    border: 1px solid goldenrod;
    border-radius: 5%;
}
.modal .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal .content div input {
    margin-top: 5px;
  }
  .modal .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
  @media screen and (min-width: 430px){
	#hdr{
        height: 280px;
    }
    #navbar{
        font-size: 20px;
        display: flex;
        flex-direction: row;
    }
    #content{
        padding: 20px 50px;
    }
    .boxWhite h2{
        text-align: left;
    }
    .container{
        grid-gap: 20px;
    }
    /* .bgCircle{
        width: 110px;
        height: 150px;
    } */
    .circle{
        width: 130px;
        height: 130px;
    }
    .ctr{
        font-size: 15px;
    }
    #ftr{
        font-size: 18px;
        padding: 10px;
    }
    .detailCircle{
        width: 200px;
        height: 200px;
    }
    .gridDetail{
        grid-gap: 10px;
    }
    .gridDetail li{
        padding: 5px;
    }
}
@media screen and (min-width: 650px){
    .container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .detailCircle{
        width: 220px;
        height: 220px;
    }
    .detailName{
        margin-bottom: 15px;
        font-size: 22px;
    }
    .gridDetail{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .gridDetail li{
        padding: 10px;
    }
    .dataDetail p{
        text-align: left;
    }
}
@media screen and (min-width: 766px){
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .detailCircle{
        width: 250px;
        height: 250px;
    }
    .catchBtn{
        padding: 12px 20px;
        font-size: 18px;
    }
    .detailName{
        margin-bottom: 15px;
        font-size: 20   px;
    }
    .gridDetail{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .dataDetail p{
        text-align: left;
    }
}
@media screen and (min-width: 1024px){
	#hdr{
        height: 400px;
    }
    .circle{
        width: 150px;
        height: 150px;
    }
    .ctr{
        font-size: 17px;
    }
    .container{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        grid-gap: 20px;
    }
    .detailName{
        margin-bottom: 15px;
        font-size: 22px;
    }
    .gridDetail{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .gridDetail li{
        padding: 12px;
    }
    .dataDetail p{
        text-align: left;
    }
}
